.table {
  width: 70%;
}

.title {
  text-align: center;
  font-weight: 700;
}

.title .cell {
  background-color: rgb(207, 186, 93);
}

.cell {
  margin: 1px;
  padding: 5px;
  border: rgb(207, 186, 93) 1px solid;
  border-radius: 5px;
}